# Django Settings
SECRET_KEY=your-secret-key
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com,12.34.56.78

# Database Settings (RDS PostgreSQL)
# Format: postgres://USER:PASSWORD@HOST:PORT/NAME
DATABASE_URL=postgres://db_user:db_password@your-rds-endpoint.amazonaws.com:5432/expense_manager_db

# AWS S3 Settings
USE_S3=True
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_S3_REGION_NAME=us-east-1

# AWS CloudWatch Logging Settings
USE_CLOUDWATCH=True
