{% extends 'expenses/base.html' %}
{% block content %}
    <div class="card form-container">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </p>
            {% endfor %}

            <button type="submit"><i class="fas fa-user-plus"></i>Sign Up</button>
        </form>
    </div>
{% endblock %}
